@import "tailwindcss";

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Inter'), url('Inter.ttf') format('truetype');
}

@font-face {
    font-family: 'SF UI Display Light';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Display Light'), url('sf/sf-ui-display-light.woff') format('woff');
}

@font-face {
    font-family: 'SF UI Display Medium';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Display Medium'), url('sf/sf-ui-display-medium.woff') format('woff');
}

@font-face {
    font-family: 'SF UI Display Semibold';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Display Semibold'), url('sf/sf-ui-display-semibold.woff') format('woff');
}

@font-face {
    font-family: 'SF UI Display Bold';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Display Bold'), url('sf/sf-ui-display-bold.woff') format('woff');
}

@font-face {
    font-family: 'SF UI Display Heavy';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Display Heavy'), url('sf/sf-ui-display-heavy.woff') format('woff');
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #000000;
    color: #e5e5e5;
}

/* Animations */
@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fade-in-down {
    animation: fadeInDown 1s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

/* LED Animation */
@keyframes led-pulse {

    0%,
    100% {
        opacity: 1;
        box-shadow: 0 0 8px #ef4444, 0 0 15px #ef4444;
    }

    50% {
        opacity: 0.4;
        box-shadow: 0 0 4px #7f1d1d, 0 0 8px #7f1d1d;
    }
}

.led-red {
    width: 6px;
    height: 6px;
    background-color: #ef4444;
    border-radius: 50%;
    box-shadow: 0 0 8px #ef4444;
    animation: led-pulse 3s ease-in-out infinite;
}

/* Subtle noise texture for the black background */
/* .bg-noise {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)' opacity='0.05'/%3E%3C/svg%3E");
    opacity: 0.08;
    pointer-events: none;
} */

.fade-out {
    opacity: 0;
    transform: translateY(10px);
}

.fade-in {
    opacity: 1;
    transform: translateY(0);
}